<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= text %></title>
  </head>
  <body>
    <div>
      <div>
        <% if (condition) { %>
        <% } else if (condition) { %>
        <% } %>
      </div>

      <a href="<%= text %>"><%= 1 > 0 %></a>

      <textarea><%= text %></textarea>
      <code><%= text %></code>
      <pre><%= text %></pre>

      <table>
        <tr>
          <td>
            <%= text %>
            <%= text %>
          </td>
          <td><%= text %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
