<%- include("../_partials/page-begin.html", page = { category: "Samples", title: "Presentation with three teasers", leftHandMenu: false, grid: true }) %>

<any-code-editor class="borderless">
  <textarea name="any-code-editor">
    <div class="row">
      <div class="offset-md-1 col-xs-12 margin-bottom-1">
        <h3 class="d3 text-align-center-sm-down">Future ready.<br>With.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 flex-md-top margin-bottom-2">
        <div style="padding-top: 16%" class="hidden-sm-down"><!-- push down by half a small image height --></div>
        <any-teaser
          label="Good for the environment." label-aria-level="3"
          image-src="/img/design/cards/solar-panel.jpg" image-alt="Solar panel"
          href="javascript:;" href-label="Read more">
          We aim to be climate neutral and achieve a positive CO2 contribution by 2025.
        </any-teaser>
      </div>
      <div class="offset-lg-1 col-md-5 col-lg-4">
        <div class="row margin-xs-bottom-2 margin-lg-bottom-3">
          <div class="col-md-10 col-lg-9">
            <any-teaser
              label="Good for people" label-aria-level="3"
              image-src="/img/design/cards/kids-at-school.jpg" image-alt="Kids at school"
              href="javascript:;" href-label="Read more">
              We are committed to inspiring workplaces, digital literacy and diversity.
            </any-teaser>
          </div>
          <div class="col-md-2 col-lg-3"><!-- empty col on the right --></div>
        </div>
        <div class="padding-lg-4"><!-- vertical spacer --></div>
        <div class="row margin-bottom-2">
          <div class="col-md-2 col-lg-3"><!-- empty col on the left --></div>
          <div class="col-md-10 col-lg-9">
            <any-teaser
              label="Responsible action" label-aria-level="3"
              image-src="/img/design/cards/technical-specialists.jpg" image-alt="Team technical specialist"
              href="javascript:;" href-label="Read more">
              We work according to ethical principles and advocate fair supply chains.
            </any-teaser>
          </div>
        </div>
      </div>
    </div>
<%- include("../_partials/teaser-animation.html", { page }) %>
  </textarea>
</any-code-editor>

<%- include("../_partials/page-end.html", { page }) %>
