<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= text %></title>
  </head>
  <body>
    <div>
      <div>
        <% if (condition) { %>
        <% } else if (condition) { %>
        <% } %>
      </div>

      <div>
        <% 
          const a = 0;
        %>
      </div>

      <div class="<%= text %>"><%= 1 > 0 %></div>

      <textarea><%= text %></textarea>
      <code><%= text %></code>
      <pre><%= text %></pre>
      <a href="<%= text %>"><%= text %></a>

      <table>
        <tr>
          <td>
            <%= text %>
            <%= text %>
          </td>
          <td><%= text %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
